<ion-content [fullscreen]="true">
  <div class="center">
    <ion-card color="dark">
      <img src="assets/cine_app.jpg" alt="Logo">
      <ion-card-title class="ion-text-center">
        Cine App
      </ion-card-title>
      <ion-item lines="none" color="dark">
        <ion-label position="floating">E-Mail</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item lines="none" color="dark">
        <ion-label position="floating" [(ngModel)]="pwd">Senha</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-button (click)="login()" expand="full" fill="outline" color="light">
        Entrar
      </ion-button>
      <ion-button expand="full" fill="clear" color="light">
        Registrar-se
      </ion-button>
    </ion-card>
  </div>
</ion-content>
